{{#each list}}
  <div class="component-comment">
      <div class="component-comment-photo" style="background-image: url('{{photo}}')"></div>
      <div class="component-comment-content">
          <div class="component-comment-name">{{name}}</div>
          <div class="component-comment-text">{{text}}</div>
      </div>
  </div>
{{/each}}