* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: #7F91A4;
}

body {
    height: 100%;
    background-color: #0E1621;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
