.login {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  background-color: #17212B;
  /* display: flex; */
  display: none;
}

.login__container {
  color: #7F91A4;
  font-size: 16px;
  padding: 8% 32%;
  display: flesx;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
} 

.login__img {
  align-self: center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: rgb(66, 88, 154);
  margin-bottom: 28px;
}

.login__title {
  align-self: center;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 13px;
}

.login__subtitle {
  text-align: center;
  margin-bottom: 36px;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__input {
  width: 100%;
  margin-bottom: 42px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #465461;
  /* width: 100%;
  height: 100%; */
  color: #fff;
  padding-bottom: 4px;
}

.login__input:focus {
  outline: none;
  border-bottom: 1px solid #5188C0;
}

.login__input:focus::placeholder {
  color: #fff;
}

.login__btn {
  width: 132px;
  height: 42px;
}