.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form__name {
    width: 300px;
    margin-bottom: 42px;
    border-bottom: 1px solid #465461;
}
.form__name:focus, .form__name:active {
    border-bottom: 1px solid #5188C0;
}
