.message {
    align-items: flex-start;
    max-width: 40%;
}

.message .user__nick {
    font-size: 1.2rem;
    margin-bottom: 8px;

}

.message .user__img {
    width: 33px;
    height: 33px;
}

.message__content {
    display: flex;
    gap: 12px;
}

.message__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.message__item {
    position: relative;
    color: #ffffff;
    font-size: 1.6rem;
    padding: 8px 56px 9px 20px;
    background-color: #182633;
    border-radius: 10px;
}

.message__item:first-child {
    border-bottom-left-radius: 0;
}

.message__item:first-child:before {
    content: '';
    width: 7px;
    height: 9px;
    background-image: url("../../img/angle.svg");
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: -7px;
}

.message__text span {
    color: #7F91A4;
    font-size: 1.4rem;
    position: absolute;
    right: 7px;
    bottom: 4px;
}

.message--my {
    align-self: flex-end;
}

.message--my .message__item{
    background-color: #2B5279;
}

.message--my .message__item:first-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
}

.message--my .message__item:first-child:before {
    width: 0;
    height: 0;
}

.message--my .message__item:first-child:after {
    content: '';
    width: 7px;
    height: 9px;
    background-image: url("../../img/angle--my.svg");
    background-repeat: no-repeat;
    position: absolute;
    bottom: -2px;
    right: -7px;
}

.message--my .user__img {
    order: 2;
}

.message--my .user__nick {
    text-align: center;
}

.message--my .message__list {
    align-items: flex-end;
}

.message--my .message__text span {
    color: #658FB7;
}

.message--service {
    max-width: 100%;
    align-self: center;
    font-size: 1.2rem;
    font-style: italic;
}
