.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal__wrapper {
    background-color: #17212B;
    color: #ffffff;
    font-size: 1.8rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 35px 42px 35px;
    border-radius: 4px;
    width: 364px;
}

.modal__close {
    font-size: 3rem;
    color: #747E87;
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer;
}

.modal__header {
    margin-bottom: 40px;
}

.modal__form {
    display: flex;
    gap: 15px;
    align-items: center;
}

.modal__file {
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background-color: #232F3D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal__file input {
    display: none;
}

.modal__file img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: none;
}

.modal__label {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.modal--hide {
    display: none;
}
