.user__img {
    background-color: #232F3D;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
}

.user__img img {
    object-fit: none;
}

.user__nick {
    font-weight: 500;
    font-size: 1.4rem;
    color: #5387C1;
    margin-bottom: 4px;
}

.user__status {
    font-weight: 300;
    font-size: 1.4rem;
}
